<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<settings>
    <profiles>
        <profile>
          <id>neo4j19</id>
          <activation>
            <activeByDefault>false</activeByDefault>
          </activation>
          <properties>
              <neo4j.machineA.plugins.directory>/PATH/TO/NEO4J/MACHINEA/PLUGINS</neo4j.machineA.plugins.directory>
              <neo4j.machineB.plugins.directory>/PATH/TO/NEO4J/MACHINEA/PLUGINS</neo4j.machineB.plugins.directory>
              <neo4j.machineC.plugins.directory>/PATH/TO/NEO4J/MACHINEC/PLUGINS</neo4j.machineC.plugins.directory>
          </properties>
        </profile>
        <profile>
          <id>neo4j20</id>
          <activation>
            <activeByDefault>false</activeByDefault>
          </activation>
          <properties>
              <neo4j.machineA.plugins.directory>/PATH/TO/NEO4J/MACHINEA/PLUGINS</neo4j.machineA.plugins.directory>
              <neo4j.machineB.plugins.directory>/PATH/TO/NEO4J/MACHINEA/PLUGINS</neo4j.machineB.plugins.directory>
              <neo4j.machineC.plugins.directory>/PATH/TO/NEO4J/MACHINEC/PLUGINS</neo4j.machineC.plugins.directory>
          </properties>
        </profile>
    </profiles>
</settings>
